
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates and Ships!</title>
  </head>
    <body>
        <form method= "POST" action = "/pirates">
            <h1>Pirate</h1>
            <label for = "name">Pirate Name: </label><input type= "text" id="name" name="pirate[name]">
            <label for = "weight"> Pirate Weight: </label><input type="text" id="weight" name="pirate[weight]">
            <label for = "height">Pirate Height: </label><input type="text" id="height" name="pirate[height]">
            <h1>Ship 1: </h1>
            <label for = "name">Ship 1 Name:</label> <input type="text" id="ship_name_1" name="pirate[ships][][name]">
            <label for = "type"> Ship 1 Type: </label><input type="text" id="ship_type_1" name="pirate[ships][][type]">
            <lable for = "booty">Ship 1 Booty:</label> <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
            <h1>Ship 2: </h1>
            <label for ="name">Ship 2 Name: </label><input type="text" id="ship_name_2" name="pirate[ships][][name]">
            <label for ="type">Ship 2 Type: </label><input type="text" id="ship_type_2" name="pirate[ships][][type]">
            <label for ="booty"> Ship 2 Booty: </label><input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>