<!DOCTYPE html>

<h2>Pirate</h2>
<%= @pirate.name %>

<h2>Ships</h2>
<ul>
    <% @pirate.ships.each_with_index do |ship, index| %>
        <li>Name:<%= ship.name %></li>
        <li>Type:<%= ship.type %></li>
        <li>Booty:<%= ship.booty %></li>
    <% end %>
</ul>
